# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Build output
# ===============================
build/
dist/
out/

# ===============================
# Environment variables
# ===============================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# ===============================
# Cache
# ===============================
.cache/
.parcel-cache/
.vite/

# ===============================
# Test coverage
# ===============================
coverage/

# ===============================
# Misc
# ===============================
*.tgz
